@model AnimalStoreMvc.Models.DTO.AnimalListVm
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
}

<div class="tbl-container">
    <h2>@localizer["Animals"]</h2>

    <table>
        <tr>
            <th>@localizer["Title"]</th>
            <th>@localizer["Animaltype"]</th>
            <th>@localizer["ReleaseYear"]</th>
            <th>@localizer["Image"]</th>
            <th>Cast</th>
            <th>@localizer["Finder"]</th>
            <th>@localizer["Action"]</th>
        </tr>
        @foreach (var item in Model.AnimalList)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.AnimaltypeName</td>
                <td>@item.ReleaseYear</td>
                <td><img style="height:60px;width:80px" src="/Uploads/@item.AnimalImage" /></td>
                <td>@item.Cast</td>
                <td>@item.Finder</td>
                <td>
                    <a href="/Animal/Edit?id=@item.Id" class="btn btn-default"><i class="fa fa-edit"></i></a>
                    <a onclick="return window.confirm('Are you sure?')" href="/Animal/Delete?id=@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }

    </table>
    <div class="input-container">
        <a href="/Animal/Add" class="btn btn-sec">@localizer["Back"]</a>
    </div>
</div>